@import "mixin";

* {
    box-sizing: border-box;
}

html{
    font-size:0.78125vw; /*10px/1280px*100 */
}

body {
    font-family:"Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    background-color: $main-color;
}

/*共通*/
a {
    text-decoration: none;
    color:$font-color;
}

.container {
    width: 78vw;
    margin: 0 auto;
}


/*header*/
header{
    width:100%;
    height:13.5%;
    min-height: 112px;
    position: fixed;
    top:0;
    z-index:99;
    background-color:$main-color;
    
    .header-contents{
        @include flex(center,center)
        width:236px; 
        margin:0 auto;
        height:100%;
        
        p{
            font-size:20px;
            letter-spacing:0.2;
            margin-left:14px;
        }

        img{
            width:100%;
            margin-bottom:1em;
        }
    }

        
}

/*top*/
.top-wrapper {
    height:73.9rem;
    min-height:422px;
}

.mv-content{
    width:100%;
    height:63.9rem;
    min-height: 372px;
}

.mv-text{
    position: absolute;
    top: 21.7rem;
    h1{

        }
    .tit{
        color: $font-color;
        display:inline-block;
        font-size: 8rem;
        font-weight: bold;
        padding:5rem;
        margin-bottom:2.6rem;
        background-color: white;
        
    }
}


.top-icon {
    width:100%;
    height:10rem;
    
    img{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

/*test*/
#test{
    padding-top: 5rem;
    margin-top: -5rem;
}

.start{
    @include flex(space-between,center)
    width:52.7%; /*675px*/
    min-width: 210px;
    margin:17rem auto 11.3rem auto;
    
    div{
        width:12.4%; /*84px*/
        min-width: 33.45px;
            
            img{
                width:100%;
                }
    }
    h2{
        font-size:5rem;
        font-weight:normal;
    }
}



/*score*/
.score-content{
    width:100%;
    height:61rem;
    min-height: 462px;
    padding: 8.3rem 0;
    border: 1.5rem solid white;
    border-radius: 3em;
    
        h3{
        width:68.2%;
        min-width: 255px;
        margin:0 auto;
        font-size:3rem;
        font-weight:bold;
        line-height: 1.9;
    }
}



.score{
    @include flex(center,flex-end)
    width:54.7%;
    min-width: 255px;
    height:20.9rem;
    margin:0 auto 5.2rem auto;
    position: relative;
    padding-bottom:3rem;
    
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 18px;
        background: repeating-linear-gradient(-45deg,
    transparent, transparent 48.5%,
    $accent-color 49.5%, $accent-color 50.5%,
    transparent 51.5%, transparent);
        background-size: 0.7rem 0.7rem;
    }
    
    
    .score01 .score02{
        font-weight:bold;
    }
    
    .score01{
        font-size:16rem;
        
    }
    .score02{
        font-size:10rem;
    }
    


}
    


/*section*/
.section{
        margin-top:9rem;
        margin-bottom:10rem;
    
    a{ 
        display: inline-block;
        font-size:3rem;
        font-weight:bold;

    }
    
    
    li{
        height:30px;
        
            &:nth-child(1){
                margin:0 0 9rem 17.8rem;            
            }
        
            &:nth-child(2){
                margin-bottom:2.9rem;            
            }
        
            &:nth-child(3){
                text-align:right; 
            }
        
            &:nth-child(4){
                @include flex(flex-start,center)
                height:20.04rem;
                margin-left:3rem;

                img{
                    @include sectionlist-img(-10deg)                   
                }
                
                a{
                    margin-left:5rem;
                }
                

            }
        
            &:nth-child(5){
                margin-bottom:1.2rem;  
                text-align:right;
            }
        
            &:nth-child(6){
                @include flex(center,center)
                height:20.04rem;
                
                img{
                    @include sectionlist-img(10deg)                   
                }
                
                a{
                    margin-right:14rem;
                }
          
            }
    }

}


/*book*/
.book-text{
    margin:0 auto;
    h2{ 
        margin:0 auto;
        text-align: center;
        position:relative;
        font-size:8rem;
               &:before, &:after {
                content: '';
                position: absolute;
                top: 80%;
                display: inline-block;
                width: 9.5rem;
                height: 1.3rem;
                border-radius: 3em;
                background-color: white;
            }

            &:before {
                left:0;
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
            }
            &:after {
                right: 0;
                -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
            }

        }
}

.book-content{
    @include flex(space-between,flex-start)
    margin:12rem 0 23.8rem 0;
    
    figure{
        width:32%;
        img{
            width:100%;
        }
    }
    
    
    .text-area{
        width:60%;
        height: auto;
        
        p{
            font-size:2rem;
            font-weight:bold;
            margin-bottom:4.1rem;
        
        
        &:last-of-type{
            margin-bottom: 6.7rem;
            }
        }
        
    }
    
    .btn{
        @include button
        font-size:4rem;
        width:80%;
        height:10rem;
        min-height: 75px;
        margin:0 auto;
        line-height:10rem;
    }

}

/*member*/
#member{
    background-color:white;  
}

.members{
    ul{
        @include flex(space-between,flex-start)
    }
    
    li{
        list-style: none;
    }
}

.member{
    width:35.5%;
    margin:8.1rem 0 8.9rem 0;
    
    figure{
        margin-bottom:8.6rem;
        
    }
    
    img{
        width:100%;
    }
    
    figcaption{
        font-size:3rem;
        font-weight: bold;
    }
    
    p{
        font-size:1.6rem;
        margin:3.6rem 0;
        
        &.sns{
            margin:1.7rem 0;
        }
    }
    
}


/*footer*/
footer{
    @include flex(space-between,center)
    height:22rem;
    width:33.4vw;
    margin:0 auto;
    
    p{
        font-size:1.6rem;
        font-weight:bold;
        margin:10.2rem 0;
    }
}